# macOS
.DS_Store

# Python
backend/.venv/
backend/.env
__pycache__/
*.pyc

# Flutter / Dart
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.flutter-plugins-dependencies*
mobile/.packages

# IDE
.vscode/
.idea/